<div class="container">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Account Settings</a></li>
  </ol>
        <div class="col-md-7">
                      <form role="form">
                            <div class="form-inline">
                              <div class="form-inline">
                                <div class="form-group">
                                    <input type="radio" value="email" name="userId" class="radio">
                                    <input type="text" class="form-control" id="" placeholder="Email">
                                  </div>
                                  or
                                  <div class="form-group">
                                    <input type="radio" value="email" name="userId">
                                    <input type="text" class="form-control" id="topnumber" placeholder="Number">
                                  </div>
                              </div>
                                
                            </div>
                           
&nbsp;                            <div class="note active">Login Id your email or password.</div>
&nbsp;
                            <div class="form-inline">
                                  
                           
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Password">
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Confrim Password">
                                  </div>
                            </div>
                            &nbsp;
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                          </div>
                          <strong>Gender:</strong>
                          <label class="radio-inline">
                              <input type="radio" name="gender" id="inlineRadio1" value="option1"> Male
                          </label>
                          <label class="radio-inline">
                              <input type="radio" name="gender" id="inlineRadio2" value="option2"> Female
                          </label>
                            <p>&nbsp;</p>
                          <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Email">
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Number">
                                  </div>
                          </div><br>
                          
                          
                          <div class="form-group">
                               
                                <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                        </form>
                    </div>
        
        <!-- ******CONTENT****** --> 
        <div class="content container">
            
        </div><!--//content-->
    </div></div><!--//wrapper-->